%full-width {
  width: 100%;
}

%half-width {
  width: 50%;
  height: auto;
}

/* For nav's vertical center alignment */
%flex-center {
  display: flex;
  align-items: center;
}

%flex {
  display: flex;
}

%img-no-content {
  @extend %half-width;
}
