@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 475px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }
}

@media screen and (max-width: 768px) {
  %content-on-white {
    div {
      padding: 8% 7%;
    }
  }

  %img-with-content {
    div {
      width: 70%;
      left: 15%;
      bottom: 25px;
    }
  }

  .testimonials {
    padding: 5%;
  }
}
