.nav {
  @extend %flex-center;
  justify-content: space-between;
  padding: 20px;

  &__ham {
    display: none;
  }

  &__list {
    width: 30%;
    @extend %flex-center;
    justify-content: space-between;
    padding: 0;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    font-family: $font-barlow;
    text-decoration: none;
    color: hsl(0, 0%, 100%);

    &-contact {
      font-family: $font-fraunces;
      padding: 10px 20px;
      border-radius: 20px;
      color: hsl(212, 27%, 19%);
      background-color: hsl(0, 0%, 100%);
      text-transform: uppercase;
    }
  }
}
