.card {
  &__client {
    width: 30%;
    padding: 20px;
  }

  &__img {
    border-radius: 50%;
    width: 50px;
    padding: 30px 0;
  }

  &__review {
    line-height: 2;
    margin-bottom: 50px;
  }

  &__name {
    font-weight: 700;
    font-family: $font-fraunces;
    font-size: 15px;
  }

  &__client-title {
    color: hsl(210, 4%, 67%);
  }
}
