@import "utilities/_variables";
@import "utilities/_extend";
@import "layout/_attribution";
@import "layout/_nav";
@import "layout/_creative";
@import "layout/_transform";
@import "layout/_standout";
@import "layout/_graphic-design";
@import "layout/_photography";
@import "layout/_testimonials";
@import "layout/_bottom-imgs";
@import "layout/_footer.scss";

:root {
  font-size: 13px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
